.row {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura como desees */
}

.fondo {
  width: 100%;
}

.titulo {
  position: absolute;
  z-index: 1;
}
